<!DOCTYPE html>
<html>
    <head>
        <meta charset='utf-8'>
        <meta http-equiv="X-UA-Compatible" content="chrome=1">
        <meta name="description" content="Blog : my github blog website">

        <link rel="stylesheet" type="text/css" href="stylesheets/base.css">
        <link rel="stylesheet" type="text/css" media="screen" href="stylesheets/stylesheet.css">

        <title>Blog</title>
    </head>

    <body>
        <!-- 导航部分 -->
        <a class="logo" href="https://github.com/fxstar1"><i class="icon-ui"></i></a>
        <ul class="nav-ul">
            <li id="nav-index"><a href="http://www.ui.cn/" >首页</a></li>
            <li id="nav-work"><a href="http://www.ui.cn/list.html" >作品</a></li>
            <li id="nav-exp" class="pos">
                <a href="http://www.ui.cn/exp.html" class=" ?>" >学习</a>
                <div class="subnav-menu">
                    <div> 
                        <p><a href="http://topic.ui.cn/">专题</a></p>
                        <p><a href="http://www.ui.cn/exp.html?scatid=11">教程</a></p>
                        <p><a href="http://www.ui.cn/exp.html?scatid=15">经验/观点</a></p>
                        <p><a href="http://www.ui.cn/exp.html?scatid=27">规范/资料</a></p>
                        <p><a href="http://study.ui.cn">每周临摹</a></p>
                    </div>
                </div>
            </li>
            <li id="nav-edu"><a href="http://peixun.ui.cn/" class=" pos"><i class="icon-new"></i>培训</a></li>
            <li><a href="http://idea.ui.cn/" class="">灵感</a></li>
            <li id="nav-act"><a class="" href="http://activity.ui.cn" >活动</a></li>
            <li class="pos">
                <a href="http://read.ui.cn" class="">阅读</a>
                <div class="subnav-menu">
                    <div>
                        <p><a href="http://read.ui.cn/">杂志</a></p>
                        <p><a href="http://read.ui.cn/book">图书</a></p>
                    </div>
                </div>
            </li>
            <li id="nav-tool"><a class="" href="http://tool.ui.cn" >工具</a></li>
            <li id="nav-job"><a href="http://zhaopin.ui.cn/" class="pos " >招聘</a></li>
            <li><a href="http://talk.ui.cn/" class="">话题</a></li>
        </ul>
        <!-- 导航部分 end -->

        <!-- HEADER -->
        <div id="header_wrap" class="outer">
            <header class="inner">
                <h1 id="project_title">Blog</h1>
                <h2 id="project_tagline">my github blog website</h2>
            </header>
        </div>

        <!-- MAIN CONTENT -->
        <div id="main_content_wrap" class="outer">
            <section id="main_content" class="inner" >
                <div class="inner_left">
                    <ul class="post-list">
                        {% for post in site.posts %}
                        {{ post.date | date: "%F" }} <a href="{{site.baseurl}}{{post.url}}"> {{ post.title }}  </a> <br>
                        {% endfor %}
                    </ul>
                </div>

                <div class="inner_right">
                    <h1>
                        <a id="blog-website" class="anchor" href="#blog-website" aria-hidden="true"><span class="octicon octicon-link"></span></a>blog website</h1>

                    <p>this is fxstar1's blog website,
                    and my nickname is fiks,
                    so welcome!</p>
                    <article>
                        {{ content }}
                    </article>
                </div>
            </section>
        </div>

        <!-- FOOTER  -->
        <div id="footer_wrap" class="outer">
            <footer class="inner">
                <p class="copyright">Blog maintained by <a href="https://github.com/fxstar1">fxstar1</a></p>
                <p>Published with <a href="https://pages.github.com">GitHub Pages</a></p>
            </footer>
        </div>
    </body>
</html>

